:root{
    font-family: 'roboto', arial, helvetica;
}
body{
background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}
body *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.navbar):not(i):not(p):not(a) {
    color: darkred;
}
.bg-teal{
    background-color: rgb(31,107,130) ;
}

.customCard{
   border: 3px solid rgb(33,37,41);

}
.customCard:hover{
    transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.imgCustom{
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.chi-siamoImg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.gameImg{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.copyright{
    color: rgb(31,107,130);
}

p{
    color: rgb(31,107,130);
}
label{
    color: rgb(31,107,130);
}
